<div class="well" style="height: 200px; width: 99%; padding: 50px;">
  <!-- <br> -->
  <div class="header">
    <h1>Top Applicant Resume Review</h1>
    <h3><small>Example Submission / January 10th, 2017</small></h3>
  </div>
</div>
<div style="padding: 30px;">
  <div class="welld">
  <h3> Initial Impressions: <small>Flamingo shaped cups are the best. They are
  way better than ostrich-shaped cups, but those are pretty cool too. When you
  are on vacation you come across a lot of interesting cups. I like to
  collect them and bring them home to my kitchen. They come in many
  different colors, shapes, and sizes.</small></h3>
  <br>
  </div>


  <!-- <div class="w3-circle w3-padding-4 w3-center grade"><h1>9.5</h1></div> -->
  <div style="width: 45%; float: left;">
    <h3> Clarity of Information: 8.0</h3>
    <br>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-info" style="width: 80%"></div>
    </div>
  </div>

  <div style="width: 48%; float: right;">
    <h3>Comment: <small>Flamingo shaped cups are the best. They are
    way better than ostrich-shaped cups, but those are pretty cool too. When you
    are on vacation you come across a lot of interesting cups.</small></h3>
  </div>
  <br><br><br><br><br><br>
  <div style="width: 45%; float: left;">
    <h3> Organization: 7.0</h3>
    <br>
    <div class="progress progress-striped active">
      <div class="progress-bar progress-bar-info" style="width: 70%"></div>
    </div>
  </div>

  <div style="width: 48%; float: right;">
    <h3>Comment: <small>Flamingo shaped cups are the best. They are
    way better than ostrich-shaped cups, but those are pretty cool too. When you
    are on vacation you come across a lot of interesting cups.</small></h3>
  </div>
</div>
<div style="height: 400px;"></div>
