</div>
<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item" id="item1">
    <div class="inText1">
    <h1>Resume Feedback</h1>
    <h2>By one of our industry leading employers <br>with detailed and personal advice<br></h2>
        <h1><a href="#" class="btn btn-info btn-lg">Get Started</a></h1>
      </div>
      </div>

   <div class="item" id="item2">
      <div class="inText2">
      <h1>Cover Letter Feedback</h1>
      <h2>By one of our industry leading employers <br>with detailed and personal advice<br></h2>
          <h1><a href="#" class="btn btn-default btn-lg">Get Started</a></h1>
      </div>
      </div>
</div>
<br>

<div class="container">
  <div class="threeAmigos">
  <h1><span class="glyphicon glyphicon-pencil icons"></span>
    <span class="glyphicon glyphicon-cloud-upload icons"></span>
    <span class="glyphicon glyphicon-envelope icons"></span></h1>
  </div>
  <div class="points" class="col-md-4 text-center">
    <div class="point">
      <h1>Draft</h1>
      <h3><small>Draft your resume online and create a free account</small></h3>
    </div>
    <div class="point" class="col-md-4 text-center">
      <h1>Upload</h1>
      <h3><small>Submit your resume here for a review by one of our employers</small></h3>
    </div>
    <div class="point" class="col-md-4 text-center">
      <h1>Recieve</h1>
      <h3><small>Get detailed and comprehensive advice for your resume</small></h3>
    </div>
  </div>
</div>
<br><br><br><br><br>

  <div class="resumeInfo">
    <a name="Services"></a>
    <div class="rfText">
      <h1><br><br>Resume Review</h1>
      <h3>At Top Applicant, we know how difficult it can be preparing your resume for
        an important job interview. That's why we are here to help! Sign up, submit your resume and
        recieve a review from an employer in your industry.</h3><br>
      <ul class="servicesList">
        <li><h4>Industry-specific Employers</h4></li>
        <li><h4>Years of Experience Reviewing Resumes</h4></li>
        <li><h4>Detailed Extensive Review and Advice</h4></li>
        <li><h4>Fast and Easy Communication</h4></li>
      </ul>
      <h1>$94.95 <small> Plus tax</small></h1>
      <h2><a href="#" class="btn btn-info btn-lg">Sign Up</a></h2>
    </div>
  </div>

<div class="container">
  <br>
    <div class="exTitle">
      <h1>Example Submission</h1>
      <!-- <h3> Here is an example submission and response for a resume review.</h3> -->
    </div>
    <div class="example">
    <%= image_tag("example_resume.png", height: '600', width: '450') %>
  </div>

  <div class="response">
    <div class="well">
      <h3><small>October 13th, 2016<br><br>
          Dear Gabrielle, <br><br>
          Thank you for your submission! This is a great resume.<br><br>
          Unfortunately, this is placeholder text until an actual review
          is done. A positive, detailed review will be given and advertised as such
          with a link for users to request one that follows a format
          identical to this one.
          <br><br> At this point, however, I would like to invite users
          to click on a button directing them to keep reading. They will be
          redirected to a static page that has a sole purpose of displaying
          the full, detailed review. This large review will be the highest teir...</small></h3>
          <h2><button style="float: right;"class="btn btn-info">Keep reading</button></h2>
          <br><br>
    </div>
  </div><br>
</div>
<!-- <h2 style="margin-left: 150px;">Each resume review follows a checklist.</h2> -->
</div>
