</div>
<div id="owl-demo" class="owl-carousel owl-theme">

  <div class="item" id="item1">
    <div class="inText1">
    <h1>Online Résumé Reviews</h1>
    <h2>One of our industry leading employers will <br>personally review your résumé.<br></h2>
        <h3><a class="ghost-button" href="#">Learn more</a></h3><br><br>
      </div>
      </div>

   <div class="item" id="item2">
      <div class="inText2">
      <h1>Personal Advice</h1>
      <h2>You will receive clear, <br>personalized feedback about <br>your résumé with specific,<br> detailed advice on how to<br> improve it.</h2>
          <h3><a class="ghost-button" href="#">Get Started</a></h3>
      </div>
    </div>

    <div class="item" id="item3">
       <div class="inText3">
       <h1>Real Employers,<br> &nbsp;Real Experience</h1>
       <h3 style="margin-left: 50px;">Real employers with extensive experience <br>in over 20 diverse career fields will <br>provide the inside information you <br>need to get your résumé noticed.</h3>
           <h3><button class="w3-btn" style="margin-left: 50px; width: 270px; background-color: #002a66">Sign Up</button></h3>
       </div>
     </div>

     <div class="item" id="item4">
        <div class="inText4">
        <h1>Honest Feedback</h1>
        <h3>One of our industry leading employers who has experience hiring in your industry will provide you with
        honest feedback on how to get your résumé to stand out from the rest.</h3>
            <h3 style="margin-left: 150px;"><a class="ghost-button" href="#">Get Started</a></h3><br><br>
        </div>
    </div>
</div>
<br>

<div class="container">
  <div class="threeAmigos">
  <h1><span class="glyphicon glyphicon-pencil icons"></span>
    <span class="glyphicon glyphicon-cloud-upload icons"></span>
    <span class="glyphicon glyphicon-envelope icons"></span></h1>
  </div>
  <div class="points" class="col-md-4 text-center">
    <div class="point">
      <h1>Draft</h1>
      <h3><small>Create a free account and attach a draft of your résumé.</small></h3>
    </div>
    <div class="point" class="col-md-4 text-center">
      <h1>Upload</h1>
      <h3><small>Upload your complete résumé here to be reviewed by one of our employers.</small></h3>
    </div>
    <div class="point" class="col-md-4 text-center">
      <h1>Recieve</h1>
      <h3><small>Get detailed and comprehensive advice for your résumé. </small></h3>
    </div>
  </div>
</div>
<br><br><br><br><br>

  <div class="resumeInfo">
    <a name="Services"></a>
    <div class="rfText">
      <h1><br><br>Resume & Cover Letter Review</h1>
      <h3>At Top Applicant, we know how difficult it can be to prepare your résumé for an
        important job interview. That’s why we are here to help! Sign up, submit your résumé
        and receive a detailed, personal review from an employer in your industry.</h3>
      <ul class="servicesList">
        <li><h4>Industry-specific Employers</h4></li>
        <li><h4>Years of Experience Reviewing Resumes</h4></li>
        <li><h4>Detailed Extensive Review and Advice</h4></li>
        <li><h4>Fast and Easy Communication</h4></li>
      </ul>
      <h1>$94.95 <small> Plus tax</small></h1>
      <h4><button class="w3-btn" style="margin-top: 10px; height: 40px; width: 230px; background-color: #224E7A">Sign Up</button></h4>
    </div>
  </div>

<div class="container">
  <br>
    <div class="exTitle">
      <h1>Example Submission</h1>
      <!-- <h3> Here is an example submission and response for a résumé review.</h3> -->
    </div>
    <div class="example">
    <%= image_tag("example_resume.png", height: '600', width: '450') %>
  </div>

  <div class="response">
    <div class="well">
      <h3><small>October 13th, 2016<br><br>
          Dear Gabrielle, <br>
          Thank you for your submission! It is obvious that you have put a lot of effort into your résumé. <br><br>
          Having been in the position of sales manager for over 25 years in 3
          diverse companies, I have taken a look at your résumé from that standpoint.
          The actual hiring manager who reviews your résumé will undoubtedly have
          looked at 20 to 50 or even more résumés very similar to your own.
          <br><br>Your job is to make your résumé stand out from the crowd.
          You want the manager to be so attracted to your résumé that he or
          she will flag it and move it to the front of the queue, or even
          forward it to the next person in line to review it. </small></h3>
          <h4><a style="float: right; color: black; margin-right: 40px;" href="#">Continue reading</a></h4>
          <br><br>
    </div>
  </div><br>
</div>
<!-- <h2 style="margin-left: 150px;">Each resume review follows a checklist.</h2> -->
</div>
