<h1>Partners <small>We have employers from the following fields:</small></h1>
<br>
<div class="btn-group-vertical">
    <a href="#" class="btn btn-info">Accounting</a>
    <a href="#" class="btn btn-info">Business</a>
    <a href="#" class="btn btn-info">Construction</a>
    <a href="#" class="btn btn-info">Education</a>
    <a href="#" class="btn btn-info">Engineering</a>
    <a href="#" class="btn btn-info">Graphic Design</a>
    <a href="#" class="btn btn-info">Government</a>
    <a href="#" class="btn btn-info">Psychology</a>
    <a href="#" class="btn btn-info">Sales</a>
    <a href="#" class="btn btn-info">Science</a>
    <a href="#" class="btn btn-info">Software Engineering</a>
</div>
