<h1>Our Team</h1>
<h3><small>Each of our managers has over 20 years of experience in consulting and mentoring with a specific focus on career building in the areas of finance, engineering, business, leadership, health and education.
<br><br>
At Top Applicant, we understand that preparing a resume can be very stressful, and it’s hard to know who to turn to for help. Most of us appreciate it if a friend or relative takes a look at our resume, and points out a spelling error or two. However, for the most part, those friends and relatives don’t have hiring experience in the industry we’re trying to break in to.
<br><br>
Our team has the extensive experience and behind-the-scenes information you need when preparing your resume. Having your resume professionally reviewed by a member of our team is like getting a chance for a practice run before the real thing. The person who will go over your resume with a fine-toothed comb has seen many, many resumes throughout the years while interviewing and hiring employees in your industry of interest.
<br><br>
Our team knows the red flags to look for that will result in your resume being tossed in the recycle bin. We also know what you must include in order for your resume to stand out among the hundreds or even thousands of other applicants.
<br><br>
Each industry has a different process and sometimes very different expectations for resumes. This is why our diverse team excels at helping applicants in their industry. Each team member is aware of industry expectations, and knows how to help you not only reach those expectations, but exceed them.
<br><br>
</small></h3>
<span class="pg"></span>
<h2>Partners <small>We have employers from the following fields:</small></h2>
<br>
<% careers = ["Accounting", "Business", "Construction", "Education", "Engineering", "Finance", "Graphic Design", "Government", "Healthcare", "Psychology", "Sales", "Science", "Software Engineering"] %>

<div class="btn-group-vertical careerFields">
<% careers.each do |career| %>
    <button class="partnerBtn"><a href="#<%= career %>" style="width: 180px;"><%= career %></a></button>
    <!-- <br> -->
    <% end %>
</div>

<div class="partners" id="Accounting">
    <h1>Accounting</h1>
    <br>
      <div id="card">
        <div class="front">
          <h3>Joeseph R., University Professor <small>Member Since October 2016</small></h3>
          </div>
      <div class="back">
        <h4>Master's in Business, 10 years employment experience.</h4>
      </div>
    </div>

    <div id="card2" style="margin-top: 20px;">
      <div class="front">
        <h3>Sean P., Executive Employer <small>Member Since October 2016</small></h3>
        </div>
    <div class="back">
      <h4>Master's in Business, 10 years employment experience.</h4>
    </div>
  </div>

    <div id="card3" style="margin-top: 20px;">
      <div class="front">
        <h3>David P., Senior Accountant <small>Member Since October 2016</small></h3>
        </div>
    <div class="back">
      <h4>Master's in Business, 10 years employment experience.</h4>
    </div>
  </div>

  <br>
  <h1 style="margin-top: 20px;" id="Business">Business</h1>
  <br>
    <div id="card4">
      <div class="front">
        <h3>Sarah H., Excecutive Manager <small>Member Since October 2016</small></h3>
        </div>
    <div class="back">
      <h4>Master's in Business, 10 years employment experience.</h4>
    </div>
  </div>

  <div id="card5" style="margin-top: 20px;">
    <div class="front">
      <h3>Jessica L., Senior Employer <small>Member Since October 2016</small></h3>
      </div>
    <div class="back">
      <h4>Master's in Business, 10 years employment experience.</h4>
    </div>
</div>
</div>

<script>
$("#card").flip({
  axis: 'x'
});

$("#card2").flip({
  axis: 'x'
});

$("#card3").flip({
  axis: 'x'
});

$("#card4").flip({
  axis: 'x'
});

$("#card5").flip({
  axis: 'x'
});
</script>
