<h1>FAQ <small> Frequently Asked Questions</small></h1>
<br>
<div class="list-group">
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">What determines the price of a resume?</h4>
    <p class="list-group-item-text">The price is determined by the career field of the reviewer and the length of the resume.
        Sign up for free to get an online quote!</p>
  </a><br>
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">What exactly will I recieve?</h4>
    <p class="list-group-item-text">Upon purchase of a resume review, you will recieve a minumum one full page length review by an experienced employer in your field.
        The review will meet requirements from a Top Applicant checklist as well as personal feedback and advice from the<thead>
          reviewer's own experience in the field.
        </thead></p>
  </a><br>
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">Who will review the resume?</h4>
    <p class="list-group-item-text">An employer from your field will review the resume. Each of Top Applicant's emplyers are
      screened before joining us. For security purposes, the identity of our employers is protected.</p>
  </a><br>
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">How can I become a reviewer?</h4>
    <p class="list-group-item-text">Please contact 'email' with your credentials.</p>
  </a><br>
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">Does it cost money to sign up and create an account?</h4>
    <p class="list-group-item-text">Nope! You can even fill out an order form to get a quote before paying.</p>
  </a><br>
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">What is the refund process?</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a><br>
  <a href="#" class="list-group-item" id="faq">
    <h4 class="list-group-item-heading">Will my resume be edited?</h4>
    <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  </a>
</div>
<br>
