#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

#item1 {
  padding-bottom: 270px;
  background-image: asset-data-url("business.jpg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

#item2 {
  padding-bottom: 70px;
  background-image: asset-data-url("business2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.inText1 {
  margin-left: 90px;
  padding-top: 100px;
}

.inText2 {
  margin-left: 90px;
  padding-top: 300px;
  color: white;
}

#item1 h1 {
  color: black;
  font-size: 60px;
}

#item2 h1 {
  font-size: 60px;
  color: white;
}

#item2 h2 {
  color: white;
}

.col1 {
  float: left;
  margin-left: 10px;
  width: 33%;
  padding-top: 40px;
}

.col2 {
  float: left;
  margin-left: 10px;
  width: 33%;
  padding-top: 40px;
}

.col3 {
  float: left;
  margin-left: 10px;
  width: 33%auto;
  padding-top: 40px;
}

.ourTeam {
  margin-left: 50px;
}

.bottom {
  background: linear-gradient(gray, black);
  width: 100%;
  height: 300px;
  bottom:0;
}

.resumeInfo {
background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 25%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);}

.servicesList {
    list-style: square inside url("check.png");
    margin-left: 30px;
    width: 60%;
    float: left;
}

.rfText {
  margin-left: 150px;
  margin-right: 10px;
  padding-bottom: 180px;
}

textarea:focus {
  outline: none !important;
  border-color: gray;
  box-shadow: 0 0 8px #719ECE;
}

textarea {
  border: solid 1px lightgray !important;
}

.threeAmigos {
  /*margin-left: 150px;*/
  margin-top: 60px;
}

.icons {
  font-size: 60pt;
  color: #545555;
  margin: 0 auto;
  width: 18%;
  margin-left: 130px;
}

.point {
  width: 18%;
  float: left;
  margin: 0 auto;
  margin-left: 130px;
}

.point p {
  /*font-family: "Times New Roman";*/
  font-size: 13pt;
  color: #545555;
}

.points h1 {
  font-size: 30pt;
}

.careerFields {
  width: 16%;
  float: left;
  position: fixed;
}

.partners {
  margin-left: 50px;
  float: right;
}

.ra {
  float: right;
  margin-right: 70px;
}

.blue {
  color: #545555;
}
/*.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #48C9B0;
    border-color: #48C9B0;
}*/
